import React, { Component } from 'react'

export interface <%= props.pascalName %>Props {}


export class <%= props.pascalName %> extends React.Component<<%= props.pascalName %>Props> {
  render() {
    return (
      <div>
        123
      </div>
    )
  }
}
