import React from 'react'

interface <%= props.pascalName %>Props{
  
}

export const <%= props.pascalName %>: React.FC<<%= props.pascalName %>Props> = (props) => {
    return (
      <div>
        <%= props.pascalName %>
      </div>
    );
}

